@import "../styles/stylesMixin.scss";

.callbackEnd {
  max-width: 612px;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
  //margin-left: 600px;
  padding: 40px 50px 40px 75px;
  background: rgb(15, 29, 69);
  animation: ani10601 0.2s linear;
  -webkit-animation: ani10601 0.2s linear;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  @keyframes ani10601 {
    0% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  .exit {
    margin-left: auto;
  }

  h4 {
    margin: 0 auto;
    @include font-rale;
    font-size: 50px;
    line-height: 157.8%;
    margin-top: 100px;
    max-width: 241px;
    text-align: center;
    align-self: center;
  }

  p {
    @include font-rale;
    margin-top: 90px;
    max-width: 450px;
    font-size: 40px;
    line-height: 145%;
    text-align: center;
    align-self: center;
  }

  .logo {
    align-self: end;
    margin-top: 130px;
  }
}

@media (max-width: 612px) {
  .callbackEnd {
    width: 100%;
    padding: 26px 35px 0;

    h4 {
      font-style: 30px;
    }

    p {
      max-width: 350px;
      font-size: 20px;
    }
  }
}
