.blur {
  backdrop-filter: blur(5px);
  background: rgba(15, 29, 69, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 95;
  width: 100%;
  height: 117%;
  opacity: 0;
  animation: ani 1s forwards;
  -webkit-animation: ani 1s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .blur {
    height: 100%;
  }
}