@import "../styles/stylesMixin.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 41px;
  width: 100%;
  margin-top: 40px;
}

.nav {
  ul {
    @include nav__btn-effect;
    display: flex;
    gap: 30px;
    @include font-monst;
    font-size: 14px;
  }
}

.nav__right {
  display: flex;
  align-items: center;
  gap: 10px;
  @include font-monst;
  font-size: 18px;
  font-weight: 600;
}

@media (max-width: 1100px) {
  .phone__num {
    display: none;
  }
}

@media (max-width: 910px) {
  .header {
    margin-top: 25px;
  }

  .logo {
    img {
      width: 96px;
      height: 20px;
    }
  }

  .nav {
    display: none;
  }
}
