@import "../styles/stylesMixin.scss";

.Callback {
  width: 612px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
  left: -612px;
  top: 0;
  padding-top: 40px;
  padding-right: 50px;
  padding-left: 75px;
  background: rgb(15, 29, 69);
}

.exit {
  margin-left: auto;
}

.title {
  @include font-rale;
  font-size: 50px;
  line-height: 148.8%;
  margin-top: 68px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  @include font-monst;
  font-size: 20px;
  line-height: 122.8%;
  padding-bottom: 11px;
  margin-top: 65px;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.checkbox {
  margin-top: 110px;

  input {
    position: absolute;
    z-index: -100;
    opacity: 0;
  }

  span {
    width: 400px;
    @include font-monst;
    font-size: 16px;
    line-height: 128.8%;
    display: inline-flex;
    align-items: center;
    user-select: none;
  }

  span::before {
    content: "";
    display: inline-block;
    min-width: 30px;
    height: 30px;
    margin-right: 23px;
    border: 1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%;
  }

  input:checked + span::before {
    background-image: url("../../images/checkbox.png");
  }
}
